{% load static %}
<!DOCTYPE html>
<html lang="en">
    {% include 'navbar.html' %}
    {% block head_content %}{% endblock%}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
                <!-- App favicon -->
        <link rel="shortcut icon" href="{% static 'img/logo_laspoteiros.jpeg' %}">

                <!-- Bootstrap Css -->
        <link href="{% static 'css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
                <!-- Icons Css -->
        <link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css" />
                <!-- App Css-->
        <link href="{% static 'css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
                <!-- Main Css-->
        <link href="{% static 'css/main.css' %}" id="app-style" rel="stylesheet" type="text/css" />
        <!-- Data Tables -->
        <link href="{% static 'DataTables/datatables.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
        <link href="{% static 'DataTables/DataTables-1.10.25/css/dataTables.bootstrap4.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />
        <!-- Font Awesome Icons -->
        <script src="https://kit.fontawesome.com/6c9d55a491.js" crossorigin="anonymous"></script>
        
        
    </head>

    <!-- --------------------------------------- START OF CONTENT  ---------------------------------- -->

    <body>  
        <div class="offset-0 page-content pb-3">
            <div class="container-fluid">      
                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-flex align-items-center justify-content-between">
                            {% block content-title %}{% endblock %}
                            <div class="page-title-right">
                                <ol class="breadcrumb m-0">
                                    <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboards</a></li>
                                    <li class="breadcrumb-item active">Dashboard</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- end page title --> 
            </div>
        </div>
        
    {% block content%}{% endblock %}
        
            <!-- JAVASCRIPT -->
            <script src="{% static 'scripts/jquery.min.js' %}"></script>
            <script src="{% static 'scripts/bootstrap.bundle.min.js' %}"></script>
            <script src="{% static 'scripts/metisMenu.min.js' %}"></script>
            <script src="{% static 'scripts/simplebar.min.js' %}"></script>
            <script src="{% static 'scripts/waves.min.js' %}"></script>

            <!-- apexcharts -->
            <script src="{% static 'scripts/apexcharts.min.js' %}"></script>

            <script src="{% static 'scripts/dashboard.init.js' %}"></script>



            

            <!-- Script to dataTable: download in Excel, pdf or print -->

            <script src="{% static 'DataTables/datatables.min.js' %}"></script>

            <!-- dataTable: script propio -->
            <script src="{% static 'scripts/main.js' %}"></script>
            
            
            <!-- dataTable: use buttons -->
            <script src="{% static 'DataTables/Buttons-1.7.1/js/dataTables.buttons.min.js' %}"></script>
            <script src="{% static 'DataTables/JSZip-2.5.0/jszip.min.js' %}"></script>
            <script src="{% static 'DataTables/pdfmake-0.1.36/pdfmake.min.js' %}"></script>
            <script src="{% static 'DataTables/pdfmake-0.1.36/vfs_fonts.js' %}"></script>
            <script src="{% static 'DataTables/Buttons-1.7.1/js/buttons.html5.min.js' %}"></script>

            <!-- App js -->
            <!-- <script src="{% static 'scripts/app.js' %}"></script> -->
    </body>


</html>