{% extends 'ingredients/base.html' %}

{% block head_content %}<title>Ingredients List!</title>{% endblock%}

<style>
    #Tabla-download{
        margin-right: 20px !important;
        padding-inline: 20px !important;
    }

    .dataTables_filter .dataTables_wrapper{
        text-align: left !important;
        margin-top: 20px;
    }
</style>

{% block content-title %}
    <h4 class="mb-0 font-size-18 text-center"><strong>Stock Dashboard </strong></h4>
    
{% endblock %}

{% block content%}

<div class="offset-1 page-content pt-0">
    <div class="row">

        <div class="col-3 mb-1 text-center">Management Tools</div>
        <div class="col-6 offset-3">

            <div class="media-body">
                <p class="text-muted font-weight-medium">You have a stock valued in:</p>
                <h4 class="mb-0">${{total_stock.total_stock}} COP</h4>
                
            </div>
        </div>
        
    </div>

    <div class="row">
        <div class="col-2 mb-2 pb-2"><button class="btn btn-outline-primary"><a href="{% url 'ingredients:ingredientcreate' %}">Create unit of measure</a></button></div>
        <div class="col-2 mb-2 pb-2"><button class="btn btn-outline-primary"><a href="{% url 'ingredients:stockcreate' %}">Create stock</a></button></div>
    </div>




    <div class="container-fluid">
        <div class="table-responsive" id="Tabla-download">
            <!-- <div class="row">
                <div class="col-4 offset-2"><button class="btn btn-outline-primary"><a href="{% url 'ingredients:ingredientcreate' %}">Create unit of measure</a></button></div>
                <div class="col-4 offset-2"><button class="btn btn-outline-primary"><a href="{% url 'ingredients:stockcreate' %}">Create stock</a></button></div>
            </div>
            <br> -->
            
            <table  id="example" class="table table-striped col-sm-12 col-xl-10 col-md-8 text-center border-top">

            <!-- <table class="table table-bordered col-sm-12 col-xl-10 col-md-8 text-center border-top"> -->
                    
                <thead>
                    <tr>
                        <th scope="col">Ingredient</th>
                        <th scope="col">Quantity Available</th>
                        <th scope="col">Unit of measure</th>
                        <th scope="col">Cost</th>
                        <th scope="col">Cost per unit</th>
                        <!-- <th scope="col">Create or edit the information</th> -->
                    </tr>
                </thead>

            {% if stock %}

                </thead>
                <tbody>
                    {% for ingredient in stock %}
                    <tr>
                        <td>{{ ingredient.ingredient.name }}</td>
                        <td>{{ ingredient.quantity }}</td>
                        <td>{{ ingredient.ingredient.units}}</td>
                        <td>{{ ingredient.price_total }}</td>
                        <td> {{ingredient.price_per_unit}} </td>
                        
                    </tr> 
                    {% endfor %}
                    
                </tbody>
            {% endif %}
            </table>
        </div>
    </div>
</div>

<!-- <a href="{% url 'home' %}">Go back home</a>
    <a href="{% url 'ingredients:ingredientcreate' %}">Create an ingredient</a> -->
    
    
{% endblock %}