{% extends 'ingredients/base.html' %}

{% block head_content %}

<title>@ Update ingredient</title>

{% endblock %}

{% block content %}

<div class="container h-30">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-sm-12 col-md-5 col-lg-5 pt-2 pl-5 pr-5 pb-5" id="auth-container">

            <form method="Post">
                {% csrf_token %}

                <div class="row mt-2 ">
                    <p><strong>Create your ingredients!</strong> </p>

                </div>
                {# Ingredient field #}
                <div class="form-group">
                    <label>Ingredient:</label>

                    {{form.ingredient}}
                    <div class="invalid-feedback">
                        {% for error in form.ingredient.errors %}{{ error }}{% endfor %}
                    </div>
                </div>
                {# Stock field #}
                <div class="form-group">
                    <label>Quantity to enter:</label>
                    <input
                        class="form-control {% if form.quantity.errors %}is-invalid{% endif %}"
                        type="text"
                        name="quantity"
                        placeholder="quantity"
                        required
                    >
                    <div class="invalid-feedback">
                        {% for error in form.quantity.errors %}{{ error }}{% endfor %}
                    </div>
                </div>
                
                {# Stock field #}
                <div class="form-group">
                    <label>Cost of the ingredient quantity:</label>
                    <input
                        class="form-control {% if form.price_total.errors %}is-invalid{% endif %}"
                        type="text"
                        name="price_total"
                        placeholder="Total amount paid per ingredient"
                        required
                    >
                    <div class="invalid-feedback">
                        {% for error in form.price_total.errors %}{{ error }}{% endfor %}
                    </div>
                </div>

                <button type="submit" class="btn btn-primary btn-block mt-5">Save!</button>
            </form>

        </div>
    </div>
</div>


{% endblock %}